@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Neonderthaw&family=PT+Sans:ital,wght@0,400;1,400;1,700&family=Poppins:ital,wght@0,300;0,500;0,600;1,200&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.square{
  background: rgba(64, 179, 199, 0.906);
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 3rem;
  font-weight: 900;
}
.square:hover{
  background: rgb(27, 73, 112);
}
.square.clicked{
  background: rgb(30, 77, 116);
  cursor: not-allowed;
}
.App{
  height: 100vh;
  background: rgb(147,192,192);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App h2{
  font-size: 5rem;
  margin-bottom: 70px;
  color: rgb(28, 28, 105);
}
.board{
  display: grid;
  grid-template-columns: repeat(3,auto);
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}
.end-game-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.8);
}
.btn{
  background: rgb(10, 250, 250);
  color: rgb(63,118,170);
  border:2px solid rgb(63,118,170);
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-out;
  max-height: 7rem;
}

.btn:hover{
  background: rgb(63,118,170);
  color: rgb(27,255,255);
  border:2px solid rgb(27,255,255);
}
.win-text{
  color: white;
  font-size: 3rem;
}
.win-history{
  color: white;
  font-size: 2rem;
  margin: 2rem 0;
}
.win{
  display: flex;
  align-items: center; 
  margin-bottom: 0;
  justify-content: center;
}
.win > span{
  font-weight: 900;
 color: rgb(24, 16, 102);
}
@media screen and (max-width:600px) {
  .App{
    background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  }
  .win > span{
   color: rgb(56, 202, 100);
  }
  .square{
    background: #87c415e7;
  }
  .square.clicked{
    background: rgb(67, 112, 58);
  }
  .App h2{
    font-size: 3rem;
    color: rgb(56, 202, 100);
  }
}